body {
    min-width: 20rem;
}

header {
    background-color:  black;
    color: yellow;
    text-align: center;
    font-family:'New Tegomin', 'serif';
    padding-bottom: 2rem;
    box-sizing: border-box;
    width: 100%;
} 

.title {
    font-size: 2.5rem;
}

.subtitle {
    font-size: 2rem;
}

.personagem {
    width: 20rem; /*= 200px*/
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    margin-bottom: 8rem ;
    padding: 1rem auto;
    }

form {
    background-color: lightgray;
    width: clamp(50vw, 80rem, 80vw);
    border-radius: 1rem;
    padding: 3rem 2rem;
    margin: 0  auto 5rem auto;
}

input[type='text'],
input[type='number'] {
    background: transparent;
    border: none;
    width: 15rem;
    padding: 1rem 2 rem;
    border-bottom: 1px white solid;
    transition: background 1s ease-in;
}

input[type='text']:focus,
input[type='number']:focus {
    outline-color: none;
    margin: 2rem auto;
}

input.race {
    width: 50%;  
    margin-bottom: 3rem;
}

input.race:hover,
input.race:focus,
details:hover,
details:focus-within,
input[type='number']:hover,
input[type='number']:focus {
    background-color: #f1f1c1;
}

button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'New Tegomin', 'serif';
    display: block;
    float: right;
    margin-right: 1rem;
}

button:hover {
    background-color: darkgray;
    transition: 2s;
}

footer {
    background-color: black;
    margin-top: 15rem;
    width: 100%;
    position: fixed;
    bottom: 0px;
    
}

footer p {
    color: white;
    text-align: center;
    font-size: 2rem;
}

footer a {
    text-decoration: none;
    color: blue;
}

footer a:hover {
    text-decoration: underline;
    color: white;
    background-attachment: black;
}